.nominationItem {
  color: gray;

  display: flex;

  height: 120px;
  align-items: center;

  overflow: hidden;
  margin: 15px;
}
.bgText {
  background-color: #eae8ee48;
  display: flex;
  padding: 5px;
}
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 120px;
  height: 1.2em;
  color: rgb(206, 206, 206);
  margin-bottom: 5px;
  white-space: nowrap;
}
.rateItem {
  display: flex;
  justify-content: center;
}
.itemImage {
  width: 100px;
}
