/* SideBar style*/
body {
  height: 100%;
}
.SideBar {
  height: 100vh;
  width: 75px;
  margin-right: 50px;
  background-color: var(--primary_color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}
.SideBar ul {
  list-style: none;
}

.SideBar ul li {
  margin: 20px 0;
  color: var(--secondary_color);
}
